@import url("https://fonts.googleapis.com/css2?family=Itim&display=swap");

body {
  font-family: "Itim", cursive;
  color: #132c33;
  background-color: #d8e3e7;
}
.container {
  height: 100vh;
}

.userInfo {
  font-size: 30px;
  background-color: #f2fbf6;
}

.card {
  display: flex;
  background-color: #f2fbf6;
  height: 200px;
  justify-content: center;
  align-items: center;
  font-size: 20px;
}

.familiarityButton {
  height: 50px;
  width: 50px;
}

.perfect {
  background-color: green;
}

.okay {
  background-color: orange;
}

.no-idea {
  background-color: red;
}

.score {
  height: 70px;
  width: 100px;
}

svg {
  position: relative;
  width: 150px;
  height: 150px;
  z-index: 1000;
}

svg circle {
  width: 100%;
  height: 100%;
  fill: none;
  // stroke: #191919;
  stroke-width: 10;
  stroke-linecap: round;
  transform: translate(5px, 5px);
  stroke-dashoffset: 440;
  stroke-dasharray: 440;
}

svg circle:nth-child(1) {
  stroke: #f3f3f3;
  stroke-dashoffset: 0;
}

svg circle:nth-child(2) {
  // stroke-dashoffset: calc(440 - (440 * 50) / 100);
  stroke: #51c4d3;
}

.contain {
  display: flex;
}

.contain .car {
  position: relative;
  width: 100%;
  // background: linear-gradient(0deg, #132c33, #132c33);
  display: flex;
  justify-content: center;
  align-items: center;
  // height: 300px;
  border-radius: 4px;
  text-align: center;
  overflow: hidden;
  transform: 0.5s;
}

.percent {
  position: relative;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  background: #d8e3e7;
  z-index: 1000;
}

.percent .number {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}

.percent .number h2 {
  font-weight: 7000;
  font-size: 40px;
  transition: 0.5s;
}

.percent .number h2 span {
  font-size: 24px;
}

.text {
  position: relative;
  font-weight: 700;
  font-size: 18px;
  letter-spacing: 1px;
  text-transform: uppercase;
  transition: 0.5s;
}
