body {
  background-color: pink;
}

.card {
  display: flex;
  background-color: antiquewhite;
  height: 200px;
  justify-content: center;
  align-items: center;
}

.familiarityButton {
  height: 50px;
  width: 50px;
}

.perfect {
  background-color: green;
}

.okay {
  background-color: orange;
}

.no-idea {
  background-color: red;
}

.score {
  height: 70px;
  width: 100px;
}

// .familiarityButtonGroup {
//   display:
// }
